{
  email   cyrilvixp@gmail.com
}

(static) {
    @static {
        file
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.swg *.woff *.json
    }
    # cache static assets
    header @static Cache-Control max-age=5184000
}

(security) {
    header {
        # blocks insecured HTTP connections (forcing HTTPS through HTTP STS)
        Strict-Transport-Security max-age=31536000;
        # disables the automatic content type sniffing through content headers
        X-Content-Type-Options nosniff
        # will send origin, query and path only if connection is not downgraded from HTTPS
        Referrer-Policy no-referrer-when-downgrade
    }
}

localhost {
    encode zstd gzip
    import static

    reverse_proxy http://frontend:80
}

localhost:81 {
    reverse_proxy http://broker-service:80
}
