services:
  _: &builder
    image: golang:tip-trixie
    command: sh -c "go build -o compiled_app; ./compiled_app"
    deploy:
      replicas: 1
      mode: replicated
  __: &runner
    <<: *builder
    command: go run .

  ### Databases ###
  db:
    image: postgres:18-trixie
    restart: always
    deploy:
      replicas: 1
      mode: replicated
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dbclient
      POSTGRES_PASSWORD: dbclientpass
      POSTGRES_DB: microservices_db
    volumes:
      - db_data:/var/lib/postgresql
      - ./scripts/db_seed.sql:/docker-entrypoint-initdb.d/db_seed.sql:ro

  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - 5050:80
    deploy:
      replicas: 1
      mode: replicated
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@postgres.com
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: "True"
    volumes:
      - ./scripts/pgadmin_config.json:/pgadmin4/servers.json:ro

  mongodb:
    image: mongo:8.2.3-noble
    environment:
      MONGO_INITDB_DATABASE: logs
      MONGO_INITDB_ROOT_USERNAME: mongoclient
      MONGO_INITDB_ROOT_PASSWORD: mongoclientpass
    deploy:
      replicas: 1
      mode: replicated
    volumes:
      - mongo_data:/data/db
      - ./scripts/mongodb_seed.js:/docker-entrypoint-initdb.d/mongodb_seed.js:ro

  mongoexpress:
    image: mongo-express
    ports:
      - 8081:8081
    deploy:
      replicas: 1
      mode: replicated
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongoclient:mongoclientpass@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongo
      ME_CONFIG_BASICAUTH_PASSWORD: mongo

  ####### Microservices #######
  frontend:
    <<: *runner
    ports:
      - "80:80"
    volumes:
      - ./frontend:/go:rw
    environment:
      - BROKER_URL=http://localhost:81
  frontend_builder:
    <<: *builder
    volumes:
      - ./frontend:/go:rw

  broker:
    <<: *runner
    ports:
      - "81:80"
    volumes:
      - ./broker-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - AUTH_URL=http://auth:80
      - LOGGER_URL=http://logger:80
  broker_builder:
    <<: *builder
    volumes:
      - ./broker-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - AUTH_URL=http://auth_builder:80
      - LOGGER_URL=http://logger_builder:80

  auth:
    <<: *runner
    depends_on:
      - db
    ports:
      - "82:80"
    environment:
      - POSTGRES_URL=postgres://dbclient:dbclientpass@db:5432/microservices_db?sslmode=disable
    volumes:
      - ./auth-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
  auth_builder:
    <<: *builder
    depends_on:
      - db
    environment:
      - POSTGRES_URL=postgres://dbclient:dbclientpass@db:5432/microservices_db?sslmode=disable
    volumes:
      - ./auth-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw

  logger:
    <<: *runner
    volumes:
      - ./logger-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - MONGODB_URL=mongodb://mongoclient:mongoclientpass@mongodb:27017/
  logger_builder:
    <<: *builder
    volumes:
      - ./logger-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - MONGODB_URL=mongodb://mongoclient:mongoclientpass@mongodb:27017/

volumes:
  db_data: {}
  mongo_data: {}
