services:
  _: &builder
    image: golang:tip-trixie
    command: sh -c "go build -o compiled_app; ./compiled_app"
    deploy:
      replicas: 1
      mode: replicated
  __: &runner
    <<: *builder
    command: go run .

  ### Databases ###
  db:
    image: postgres:18-trixie
    restart: always
    deploy:
      replicas: 1
      mode: replicated
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dbclient
      POSTGRES_PASSWORD: dbclientpass
      POSTGRES_DB: microservices_db
    volumes:
      - db_data:/var/lib/postgresql
      - ./scripts/db_seed.sql:/docker-entrypoint-initdb.d/db_seed.sql:ro

  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - 8080:80
    deploy:
      replicas: 1
      mode: replicated
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@postgres.com
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: "True"
    volumes:
      - ./scripts/pgadmin_config.json:/pgadmin4/servers.json:ro

  mongodb:
    image: mongo:8.2.3-noble
    environment:
      MONGO_INITDB_DATABASE: logs
      MONGO_INITDB_ROOT_USERNAME: mongoclient
      MONGO_INITDB_ROOT_PASSWORD: mongoclientpass
    deploy:
      replicas: 1
      mode: replicated
    volumes:
      - mongo_data:/data/db
      - ./scripts/mongodb_seed.js:/docker-entrypoint-initdb.d/mongodb_seed.js:ro

  mongoexpress:
    image: mongo-express
    ports:
      - 8081:8081
    deploy:
      replicas: 1
      mode: replicated
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongoclient:mongoclientpass@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongo
      ME_CONFIG_BASICAUTH_PASSWORD: mongo

  ### Other services ###
  rabbitmq:
    image: rabbitmq:4.2.3-management-alpine
    ports:
      - 8083:15672
    deploy:
      replicas: 1
      mode: replicated
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8082:8025"
    deploy:
      replicas: 1
      mode: replicated

  ### Microservices ###
  frontend:
    <<: *runner
    build:
      dockerfile: dockerfiles/frontend.dockerfile
    ports:
      - "80:80"
    volumes:
      - ./frontend:/go:rw
    environment:
      - BROKER_URL=http://localhost:81
  frontend_builder:
    <<: *builder
    build:
      dockerfile: dockerfiles/frontend.dockerfile
    volumes:
      - ./frontend:/go:rw

  broker:
    <<: *runner
    build:
      dockerfile: dockerfiles/broker-service.dockerfile
    depends_on:
      - rabbitmq
    ports:
      - "81:80"
    volumes:
      - ./broker-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - AUTH_URL=http://auth:80
      - AUTH_GRPC_URL=auth:50051
      - LOGGER_URL=http://logger:80
      - MAILER_URL=http://mailer:80
      - MAILER_RPC_URL=tcp://mailer:5001
  broker_builder:
    <<: *builder
    build:
      dockerfile: dockerfiles/broker-service.dockerfile
    depends_on:
      - rabbitmq
    volumes:
      - ./broker-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - AUTH_URL=http://auth_builder:80
      - AUTH_GRPC_URL=auth_builder:50051
      - LOGGER_URL=http://logger_builder:80
      - MAILER_URL=http://mailer_builder:80
      - MAILER_RPC_URL=tcp://mailer_builder:5001

  auth:
    <<: *runner
    build:
      dockerfile: dockerfiles/auth-service.dockerfile
    depends_on:
      - db
    ports:
      - "82:80"
    environment:
      - POSTGRES_URL=postgres://dbclient:dbclientpass@db:5432/microservices_db?sslmode=disable
      - LOGGER_URL=http://logger:80
    volumes:
      - ./auth-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
  auth_builder:
    <<: *builder
    build:
      dockerfile: dockerfiles/auth-service.dockerfile
    depends_on:
      - db
    environment:
      - POSTGRES_URL=postgres://dbclient:dbclientpass@db:5432/microservices_db?sslmode=disable
      - LOGGER_URL=http://logger_builder:80
    volumes:
      - ./auth-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw

  logger:
    <<: *runner
    build:
      dockerfile: dockerfiles/logger-service.dockerfile
    depends_on:
      - mongodb
    volumes:
      - ./logger-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - MONGODB_URL=mongodb://mongoclient:mongoclientpass@mongodb:27017/
  logger_builder:
    <<: *builder
    build:
      dockerfile: dockerfiles/logger-service.dockerfile
    depends_on:
      - mongodb
    volumes:
      - ./logger-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - MONGODB_URL=mongodb://mongoclient:mongoclientpass@mongodb:27017/

  mailer:
    <<: *runner
    build:
      dockerfile: dockerfiles/mailer-service.dockerfile
    depends_on:
      - mailhog
    volumes:
      - ./mailer-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - SMTP_URL=smtp://test:test@mailhog:1025
  mailer_builder:
    <<: *builder
    build:
      dockerfile: dockerfiles/mailer-service.dockerfile
    depends_on:
      - mailhog
    volumes:
      - ./mailer-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - SMTP_URL=smtp://test:test@mailhog:1025

  dispatcher:
    <<: *runner
    build:
      dockerfile: dockerfiles/dispatcher-service.dockerfile
    depends_on:
      - rabbitmq
    volumes:
      - ./dispatcher-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - AUTH_URL=http://auth:80
      - LOGGER_URL=http://logger:80
  dispatcher_builder:
    <<: *builder
    build:
      dockerfile: dockerfiles/dispatcher-service.dockerfile
    depends_on:
      - rabbitmq
    volumes:
      - ./dispatcher-service:/go:rw
      - ./api-view-helpers:/api-view-helpers:rw
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - AUTH_URL=http://auth_builder:80
      - LOGGER_URL=http://logger_builder:80

volumes:
  db_data: {}
  mongo_data: {}
  rabbitmq_data: {}
