services:
  default: &default
    image: golang:tip-trixie
    command: sh -c "go build -o compiled_app; ./compiled_app"
    deploy:
      replicas: 1
      mode: replicated
  frontend:
    <<: *default
    ports:
      - "80:80"
    volumes:
      - ./frontend:/go:rw
    environment:
      - BROKER_URL=http://localhost:81
  broker-service:
    <<: *default
    ports:
      - "81:80"
    volumes:
      - ./broker-service:/go:rw
